<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="referrer" content="unsafe-url">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    
        <header class="site-header" style="background-image: url({{ asset('img/header-bg.jpg') }})">
            <span class="site-title">Symfony</span>
        </header>
        
        <nav>
            <ul class="left">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('api_quote') }}">Dagens citat</a></li>
                <li><a href="{{ path('card') }}">Kortspel</a></li>
            </ul>
        </nav>
        
        <main>
        {% block body %}{% endblock %}
        </main>
                                    
     
 
            
                        
        <footer class="footer clear-float">
            <div class="column">
                <h3>Snabblänkar</h3>
                <ul>
                    <li>
                        <a href="https://github.com/dalexb87/mvc-report" title="Link till sidans github repo.">Mitt github-repo</a>
                    </li>
                    <li>
                        <a href="http://validator.w3.org/check/referer" title="Link till HTML-validering.">Validera HTML</a>
                    </li>
                    <li>
                        <a href="{{ path('api') }}">Tillgängliga routes</a>
                    </li>
                    <li>
                        <a href="{{ path('session') }}">Session</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h3>Annat</h3>
                <ul>
                    <li>?</li>
                </ul>
            </div>
            <div class="column">
                <h3>Kontakt</h3>
                <ul>
                    <li>mail: dalexb87@gmail.com</li>
                </ul>
            </div>
        </footer> 
        <div class="final">
            <span class="copyright">Denna webbplats är skapad av Daniel Blom.</span>
        </div>        
    </body>
</html>
